.claude/settings.local.json

# Coverage
coverages/
coverage*
cover.outfile
cover.out
dep_*.out

# Temporary
tmp/

# Binaries
*.exe
bin/

# Go
*.test
bin/
*.DS_Store
task-cli/check.out

# Dependencies
node_modules/
